WPFStudy/Service References/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50114/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Repository.Model" />
  <xs:import schemaLocation="http://localhost:50114/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="GetAllStudentsResult" nillable="true" type="q1:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="newStudent" nillable="true" type="q2:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="AddStudentResult" nillable="true" type="q3:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="editedStudent" nillable="true" type="q4:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudyPrograms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudyProgramsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="GetAllStudyProgramsResult" nillable="true" type="q5:ArrayOfStudyProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudyProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="newStudyProgram" nillable="true" type="q6:StudyProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudyProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="AddStudyProgramResult" nillable="true" type="q7:StudyProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudyProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="editedStudyProgram" nillable="true" type="q8:StudyProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStudyProgramResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudyProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studyProgramId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudyProgramResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="GetAllDepartmentsResult" nillable="true" type="q9:ArrayOfDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="newDepartment" nillable="true" type="q10:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="AddDepartmentResult" nillable="true" type="q11:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="editedDepartment" nillable="true" type="q12:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSPForDepartmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSPForDepartmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="GetAllSPForDepartmentIdResult" nillable="true" type="q13:ArrayOfStudyProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProfessors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProfessorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="GetAllProfessorsResult" nillable="true" type="q14:ArrayOfProfessor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProfessor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="newProfessor" nillable="true" type="q15:Professor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProfessorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="AddProfessorResult" nillable="true" type="q16:Professor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProfessor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="editedProfessor" nillable="true" type="q17:Professor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProfessorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfessor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="professorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProfessorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="GetAllCoursesResult" nillable="true" type="q18:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="newCourse" nillable="true" type="q19:Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="AddCourseResult" nillable="true" type="q20:Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="editedCourse" nillable="true" type="q21:Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCourseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCourseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamPeriods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamPeriodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="GetAllExamPeriodsResult" nillable="true" type="q22:ArrayOfExamPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExamPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="newExamPeriod" nillable="true" type="q23:ExamPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExamPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="AddExamPeriodResult" nillable="true" type="q24:ExamPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExamPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="editedExamPeriod" nillable="true" type="q25:ExamPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExamPeriodResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExamPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="examPeriodId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExamPeriodResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExams">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="GetAllExamsResult" nillable="true" type="q26:ArrayOfExam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="newExam" nillable="true" type="q27:Exam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="AddExamResult" nillable="true" type="q28:Exam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="editedExam" nillable="true" type="q29:Exam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="examId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveExamPeriods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveExamPeriodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="GetActiveExamPeriodsResult" nillable="true" type="q30:ArrayOfExamPeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfessorCourses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="professorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfessorCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="GetProfessorCoursesResult" nillable="true" type="q31:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistredStudentsForExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
        <xs:element minOccurs="0" name="examPeriodId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistredStudentsForExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRegistredStudentsForExamResult" nillable="true" type="q32:ArrayOfKeyValueOfArrayOfExamRegistrationArrayOfanyTypevjZFUBJR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExamResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Repository.Model" minOccurs="0" name="examResults" nillable="true" type="q33:ArrayOfExamResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExamResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetExamResultsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateExamPeriodActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateExamPeriodActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateExamPeriodActivityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateExamInExamPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="examPeriodId" type="xs:int" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateExamInExamPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateExamInExamPeriodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>